build/.cmake/api/v1/reply
build/CMakeFiles
build/~/.config/nvim/undo
build/CMakeCache.txt
build/Compiler
build/Makefile
build/cmake_install.cmake
src/build/CMakeFiles
src/build/CMakeCache.txt
src/build/Makefile
src/build/cmake_install.cmake
